version: "3.8"

services:
  waha:
    image: devlikepro/whatsapp-http-api:latest
    container_name: waha
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - waha_net

  redis:
    image: redis:7-alpine
    container_name: waha-redis
    restart: unless-stopped
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - waha_redis_data:/data
    networks:
      - waha_net

networks:
  waha_net:

volumes:
  waha_redis_data:

